@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

.intro{
	background-image: url(../img/intro.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.opacita{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.40);
}

.padding-0{
	padding: 0px;
}

h1{
	color: rgba(255,255,255,1.00);
	font-size: 65px;
}

h4{
	font-size: 15px;
}

i{
	font-size: 35px;
}

.white{
	color: rgba(255,255,255,1.00);
}

.black{
	color: rgba(0,0,0,1.00);
}

footer{
	height: 80px;
}

.fb-color{
	color: rgba(103,127,181,1.00);
}

.mail-color{
	color: rgba(250,170,94,1.00);
}

.larg-33{
	width: 33.333%;
}

img{
	height: 200px;
}
