@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{box-sizing: border-box;}

.container-fluid{
    width: 100%;
    height: auto;
    margin:0 auto;
}

.alt-100{
    height: 100vh;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: #000;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 20vh;
}

h2{
    color: floralwhite;
    text-align: center;
    font-size: 25px;
}